<!--
  <section class="login-form">
  <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)" fxLayoutGap="10px">
    <mat-form-field>
      <input 
      type="email" 
      matInput 
      placeholder="Your Email" 
      ngModel 
      name="email"
      email
      required
      #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Filed must not be blank</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should br 6 character long">
      <input 
      type="password" 
      matInput 
      placeholder="Your password" 
      ngModel 
      name="password"
      required
      minlength="6"
      #pwInput="ngModel">
      <mat-hint align="end">
        {{pwInput.value?.length}} /6
      </mat-hint>
      <mat-error>Has to be 6 char long</mat-error>
    </mat-form-field>
    
    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">
      Submit
    </button>
  </form>
</section> 
-->

<section>
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
  >
    <mat-form-field>
      <input type="email" matInput  formControlName="email" placeholder="Your Email">
      <mat-hint>
        Please enter valid email
      </mat-hint>
      <mat-error>
        Invalid aor missing email
      </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input type="password" matInput formControlName="password" placeholder="Your Password">
        <mat-hint>
            Please enter valid password
          </mat-hint>
          <mat-error>
            Invalid aor missing password
          </mat-error>
      </mat-form-field>

      <button *ngIf ="!isLoading" type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Submit</button>
      <mat-spinner *ngIf ="isLoading" ></mat-spinner>
  </form>
</section>




























